.projectItem {
  border-style: solid;
  border-color: transparentize($text-color, 0.33);
  border-width: 2px;
  font-family: $text-font;
  background-color: $off-white;
  box-shadow: -5px 5px 0 transparentize($text-color, 0.33);
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;


  .members {
    display: flex;
    flex-direction: row;
    padding-left: 20px;

    .images {
      flex: 0;
      padding: 5px;
    }
  }

  > ul {
    list-style: none;
    padding-left: 0;
    justify-content: space-between;
    flex: 1;

    .title {
      border-bottom-style: solid;
      border-width: thin;
      border-color: $text-color;
      width: calc(100% - 20px);
      font-weight: bold;
    }

    a:link,
    a:visited {
      text-decoration: none;
      color: $text-color;
    }
  }

  img {
    border-radius: 50px;
    max-width: 50px;
    max-height: 50px;
  }

  li {
    font-family: $text-font, sans-serif;
    padding: 20px;
    //border-top-style: solid;
  }

  button {
    color: $text-color;
    font-family: $text-font, serif;
    font-size: 1em;
    text-align: right;
    background-color: transparent;
    border-style: none;
    width: 8em;
    transition: all ease 0.4s;
    position: relative;
    bottom: 5px;
    justify-content: flex-end;

    &:hover {
      //background-color: rgba(0, 0, 0, 0.25);
      //transition: all 1s ease-in;
      box-shadow: inset -100px 0 0 0 rgba(0, 0, 0, 0.25);
    }
  }
}
