.projects {
  background-color: transparentize($off-white, 0.33);
  animation-name: $animate-in;
  animation-duration: $animate-time;

  h1 {
    font-family: $text-font;
  }

  .projectList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 15px;

    > li {
      width: calc(50% - 40px);
      padding: 20px 0;
    }

    @media (max-width: 640px) {
      > li {
        width: auto;
      }
    }
  }
}

@import '../components/projects/ProjectItem';
