.projectItem {
  border-style: solid;
  border-width: 2px;
  font-family: $text-font;

  th {
    border-bottom-style: solid;
    border-width: thin;
    border-color: $text-color;

    a:link,
    a:visited {
      text-decoration: none;
      color: $text-color;
      //font-family: $text-font;
    }
  }

  tr {
    font-family: 'Roboto', sans-serif;
    //border-top-style: solid;
  }
}
