@import 'utility';
$header-font: 'VT323', monospace;
$text-font: 'Roboto Mono', monospace;
$off-white: #f9f9f9;

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
}

body {
  @include font-smoothing(on);
  //margin: 0;
  font: $base-text-size / 1 $base-font-family;
  height: 120vh;
  justify-content: space-around;
  background: linear-gradient(235deg, #1d81ce, #028246, #27b845, #fda241, #f1614d, #1d81ce);
  //background: linear-gradient(250deg, #4bf05a, #0050ff, #93008c, #ff4e77, #ff6f2f, #ff204d);
  background-size: 1200% 1200%;
  animation: background 60s ease infinite;
}

@import '../components/home/Home';
@import '../components/layout/Layout';
@import '../components/projects/Projects';
//@import '../components/projects/ProjectItem';
