@import 'utility';
$header-font: 'VT323', monospace;
$text-font: 'Rubik', sans-serif;
//$text-font: 'Roboto Mono', monospace;
$off-white: #f9f9f9;
$text-color: #252525;
$animate-in: fade-in;
$animate-time: 0.5s;
$new-font: 'Rubik', sans-serif;

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
}

body {
  @include font-smoothing(on);
  //margin: 0;
  font: $base-text-size / 1 $base-font-family;
  height: 120vh;
  justify-content: space-around;
  background: linear-gradient(235deg, #1d81ce, #028246, #27b845, #fda241, #f1614d, #1d81ce);
  //background: linear-gradient(250deg, #4bf05a, #0050ff, #93008c, #ff4e77, #ff6f2f, #ff204d);
  background-size: 1200% 1200%;
  animation: background 60s ease infinite;
}

.comp-top {
  display: flex;

  .comp-head {
    flex: 1;
  }

  .comp-exit {
    padding-right: 5px;

    a:link,
    a:visited {
      text-decoration: none;
      color: $text-color;
    }
  }
}

@keyframes fade-in {

  from { opacity: 0; }
  to { opacity: 1; }
}

@import '../components/home/Home';
@import '../components/layout/Layout';
@import '../components/projects/Projects';
@import '../components/about/About';
@import '../components/people/People';
@import '../components/submit/Submit';
@import '../components/modal/Modal';


//@import '../components/projects/ProjectItem';
