.layout {
  height: 120vh;

  header {
    display: flex;
    height: 4.5em;
    justify-content: space-between;

    .flexpush {
      h1 {
        //font: 32pt, 'OnedayFF';
        //font-family: $header-font, serif;
        margin-top: 5px;
        font-family: $new-font;
        padding-top: -10px;
        font-weight: 700;
        font-style: italic;
        letter-spacing: -5px;
        font-size: 5em;
        color: $off-white;
        padding-left: 10px;

        a:link,
        a:visited {
          text-decoration: none;
          color: $off-white;
          display: block;
          //line-height: em;
        }
      }
    }

    button {
      color: white;
    }

    @keyframes background {
      0% { background-position: 0 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0 50%; }
    }
  }
}

@font-face {
  font-family: 'OnedayFF';
  src: url('./OnedayFF/ONEDAY.otf') format('opentype');
}
