.layout {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  background: linear-gradient(235deg, #1d81ce, #028246, #27b845, #fda241, #f1614d, #1d81ce);
  //background: linear-gradient(250deg, #4bf05a, #0050ff, #93008c, #ff4e77, #ff6f2f, #ff204d);
  background-size: 1200% 1200%;
  animation: background 60s ease infinite;

  h1 {
    //font: 32pt, 'OnedayFF';
    font-family: 'OnedayFF', serif;
    color: #f2f0e7;
    flex: 1;
    padding-left: 10px;
  }

  h2 {
    color: white;
    font-family: 'OnedayFF', serif;
    padding-right: 10px;
    flex: 0;
  }

  @keyframes background {
    0% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
  }
}

@font-face {
  font-family: 'OnedayFF';
  src: url('./OnedayFF/ONEDAY.otf') format('opentype');
}
