.about {
  background-color: $off-white;
  animation-name: $animate-in;
  animation-duration: $animate-time;

  h1 {
    font-family: $text-font;
  }

  .about {
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
      margin: 0.25em;
    }

    h2 {
      margin: 0.25em;
      font-weight: 100;
    }

    p {
      margin: 0.25em;
      font-family: $text-font;
      font-weight: 300;
      font-style: italic;
    }
  }
}
