.landing {
  //display: flex;

  .home-content {
    ul {
      list-style: none;
      padding-left: 5px;
      padding-right: 5px;

      .first {
        border-top: solid;
        border-color: $off-white;
        border-width: 2px;
      }

      li {
        border-style: solid;
        border-color: $off-white;
        border-width: 2px;
        border-top: none;
        font-family: $new-font;
        font-size: 3.5em;
        font-weight: 700;
        text-align: center;
        height: 1em;

        a:link,
        a:visited {
          text-decoration: none;
          color: $off-white;
          display: block;
          line-height: 1em;
        }
      }
    }
  }
}

@media screen and   (max-width: 420px) {
  .landing {
    .home-content {
      ul {
        li,
        .first {
          font-size: 10vw;
        }
      }
    }
  }
}
