.landing {
  //display: flex;

  .home-content {
    margin: 20px;
    height: 80vw;
    background-color: #f2f0e7;

    h1 {
      border-style: solid;
      //border: 20px;
      border-color: transparent;
      font-family: $header-font, serif;
    }

    p {
      font-family: $text-font;
    }
  }
}

//   .help {
//     //background-color: #1f204f;
//     flex: 1;
//
//     .help-text {
//       margin-top: 33vh;
//       color: #edeae0;
//       text-align: center;
//     }
//   }
//
//   .start {
//     flex: 1;
//     //background-color: #5bd692;
//
//     .start-text {
//       margin-top: 33vh;
//       color: #edeae0;
//       text-align: center;
//     }
//   }
// }
