.start {
  width: 100vw;
  margin-left: -8px;

  .comp-top {
    display: flex;
    background-color: $off-white;
    font-family: $text-font;
    color: $text-color;
  }

  .startOptions {
    display: flex;
    justify-content: space-around;

    h2 {
      margin-top: 1em;
      margin-bottom: 1em;
      border: solid;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0);
      background-color: $off-white;
      font-family: $text-font;

      //&&hover

      a:link,
      a:visited {
        //animation: flip 60s ease;
        text-decoration: none;
        color: $text-color;
        //color: $off-white;
        display: block;
        line-height: 1em;
      }
    }
  }
}

@keyframes flip {

  from { opacity: 0; }
  to { opacity: 1; }
}
