.people {
  background-color: $off-white;
  animation-name: $animate-in;
  animation-duration: $animate-time;

  h1 {
    font-family: $text-font;
    font-weight: 900;
  }

  .peopleItem {
    border-style: solid;
    border-color: transparentize($text-color, 0.33);
    border-width: 2px;
    font-family: $text-font;
    background-color: $off-white;
    box-shadow: -5px 5px 0 transparentize($text-color, 0.33);
    width: 500px;

    > ul {
      list-style: none;
      padding-left: 0;

      .name {
        border-bottom-style: solid;
        border-width: thin;
        border-color: $text-color;
        padding: 2px;
        width: calc(100% + 30px);
        font-weight: bold;
        display: flex;
        text-align: center;

        h2 {
          font-size: 1.5em;
          line-height: 200%;
          padding-left: 1em;
          margin: 0;
        }
      }
    }

    img {
      border-radius: 50px;
    }

    li {
      font-family: $text-font, sans-serif;
      padding: 5px;
      display: flex;

      p {
        margin: 0;
      }
      //border-top-style: solid;
    }
  }
}
